<div class="container">
    <header>
      <img class="logo-image" src="assets/foxhound.png" alt="foxhound logo">
    </header>
    
    
    <form [formGroup]="form" (ngSubmit)="loginUser()">
      <div class="form-control">
        <label for="username">username  :</label>
        <input id="username" name="username" formControlName="username"/>
      </div>
      <div class="form-control">
        <label for="password">password  :</label>
        <input type="password" id="password" name="password" formControlName="password"/>
      </div>
      <div class="login">
        <button [disabled]="form.invalid">login</button>
      </div>

    </form>
    </div>
  
