@import "https://www.nerdfonts.com/assets/css/webfont.css";
nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #272727;
    margin: 0;
}
ul {
    flex:5;
    list-style-type: none;
    padding: 0;
}

.bottomlinks{
    flex: 0;
    border-style: solid;
    color: white;
    border-width: 1px  0 0  0;
}


.logo{
    flex: 2;
    color: #009fb7;
    font-size: xx-large;
    text-align: center;
    padding-top: 2rem;
}

.sidebar-item{
    padding: 1rem;
    color: white;
}
.sidebar-item>i{
    padding: 1rem;

}