<nav class="navbar">
    <div class="logo">
       <img src="assets/foxhound.png" alt="foxhound logo">
        <h1>FoxHound</h1>
    </div>
    <ul>
        <li><div class="sidebar-item"><i class="nf nf-md-view_dashboard"></i>Dashboard</div></li>
        <li><div class="sidebar-item"><i class="nf nf-cod-graph_line"></i>Stats</div></li>
        <li><div class="sidebar-item"><i class="nf nf-md-vector_link"></i>Link Accounts</div></li>
    </ul>
    <ul class="bottomlinks">
        <li><div class="sidebar-item"><i class="nf nf-cod-settings_gear"></i>Settings</div></li>
    </ul>
</nav>
