<dialog applicantRegister (click)="closeDialog($event)"></dialog>
<dialog applicantLogin (click)="closeDialog($event)"></dialog>
<main class="splash">
   
    <header>
        <h1>FoxHound</h1>
        <div class="user-section">
            <a href="" (click)="openLogin($event)">Log In</a>
            <button id="getStarted" (click)="openRegister($event)" >Get Started</button>
        </div>
       
    </header>
    <section>
        <img class="logo-image" src="assets/foxhound.png" alt="foxhound logo">
        <article>
           <h2>MONITOR YOUR JOB HUNT FROM APPLICATION TO OFFER!!</h2>
            <div class="call-to-action">
                <div>Start tracking your applications now!</div> 
                <button id="getStarted" (click)="openRegister($event)" >Get Started</button>
               
            </div>
           
        </article>
    </section>
</main>


