.splash{
    background-color:  #272727;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;

}

dialog{
    height: 70vh;
    width: 30vw;
    background-color: #272727;
    color: #eff1f3;
    border-radius: 5px;
    padding: 0;
    border-color: #009fb7;
}

dialog::backdrop {
    background-color: #272727ce;
}
#getStarted{
    background-color: #fed766;
    padding: 1rem;
    margin: 1rem;
    font-weight: bolder;
    border-radius: 5px;
    height: max-content;
}

#getStarted:hover{
    box-shadow: 0 0  10px  #eff1f3;
    cursor: pointer;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
    color: #eff1f3;
    font-size: xx-large;
    background-color: #272727;
}

header>h1{
    margin: 0;
}


section{
    display: flex;
    flex-direction: row;
    background-color: #009fb7;
    align-items: center;
}

article{
    flex: auto;
    color: #eff1f3;
    font-size:1rem;
    text-align: center;
}
article>h2{
    color: #272727;
    font-size:5rem;
   
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    font-size:medium;
}
.logo-image{
    height: 80%;
    margin-left: 1rem;
}