.dashboard{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

app-sidebar{
    width: 10%
}

main{
    flex:2;
    display: flex;
    flex-direction: column;
}
app-topbar{
    flex: 0;
}

app-jobcanvas{
    flex:auto;
}