<div class="container">
  <header>
    <img class="logo-image" src="assets/foxhound.png" alt="foxhound logo">
    <span class="call-to-action">Register today for free to track your job applications!</span>
  </header>
  
  
  <form [formGroup]="form" (ngSubmit)="registerUser()">
      <div class="form-control">
        <label for="username">username  :</label>
        <input id="username" name="username" formControlName="username"/>
      </div>
      <div class="form-control">
        <label for="email">Email  :</label>
        <input id="email" name="email" formControlName="email"/>
      </div>
      <div class="form-control">
        <label for="password">password  :</label>
        <input type="password" id="password" name="password" formControlName="password1"/>
      </div>
      <div class="form-control">
        <label for="confirmpassword">confirm password  :</label>
        <input type="password" id="confirmpassword" name="confirmpassword" formControlName="password2"/>
      </div>
      <div class="register">
        <button [disabled]="form.invalid"> Register</button>
      </div>
  </form>
  </div>
